body{
    font-family: Helvetica, Arial,  sans-serif;
    margin: 0px;
}

#logo {
    display flex: ;
    margin: 0px;
    padding: 0px;
    font-family: "Fredoka One", sans-serif;   
    width: 20%;
}


ul{
    margin: 0px;
}

body > header{
    background-color: rgb(81, 216, 240);
    color: white;
    display: flex;
    height: 12vh; 
    border: 20% solid black;
    align-items: center ;
    justify-content: space-around;

}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 8px;
}

body > header > nav > ul{
    list-style: none;
}
#eu {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: auto; 
}

#ldn1, #ldn2 {
    width: auto; 
    height: 30vh; 
}

h3 {
    flex-basis: 100%; 
}
#na {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: auto; 
}

#ny1, #ny2 {
    width: auto; 
    height: 30vh; 
}

h3 {
    flex-basis: 100%; 
}
#sa {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: auto; 
}

#bzl1, #bzl2 {
    width: auto; 
    height: 30vh; 
}

h3 {
    flex-basis: 100%; 
}

#jpn {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: auto; 
}

#jpn1, #jpn2 {
    width: auto; 
    height: 30vh; 
}

h3 {
    border: 10px;
    flex-basis: 100%; 
}

#az {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: auto; 
}

#aus1, #aus2 {
    width: auto; 
    height: 30vh; 
}

h3 {
    flex-basis: 100%; 
}



.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;

}
body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div{
    width: 70%;
}

#main-content aside {
    width: 15%;
}

form {
    text-align: center;
}
h2 { 
    text-align: center;
}


body > footer{ 
    background-color: rgb(81, 216, 240);
    display: flex;
    
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
   
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none ;
}

img{
    border-radius: 10%;
}


